.list-room {
<<<<<<< HEAD
   max-height: 86%;
   // overflow-y: scroll;
=======
  max-height: 86%;
  overflow-y: scroll;
>>>>>>> master
}

.profile .textContainer .name {
  font-size: 13px;
  margin-top: 3px;
}
