@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

$background-white: #ffffff;
$background-grey: #fafafa;
$gradient-one: #da3394;
$gradient-two: #e03c67;
$gradient-three: #f3753b;
$gradient-four: #f99b4a;
$font-color-primary: #262626;
$font-color-secondary: #8e8e8e;
$font-color-footer: #c7c7c7;
$border-color-grey: #dbdbdb;
$border-color-grey-secondary: #efefef;
$link-color: #0095f6;
$primary-text-color: rgb(24, 157, 246);
$link-color-secondary: #b3dffc;
$font: "Poppins", sans-serif;

$background-color: #fafafa;
$primary-btn-color: #0095f6;
$border-color: #1b1b1b1e;
