{
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "proseWrap": "never",
  "overrides": [
    {
      "files": ["*.{js,json}"],
      "options": {
        "semi": true,
        "tabWidth": 4
      }
    }
  ]
}
