.badge {
  padding: 6px 11px;
  color: var(--txt-white);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.badge-disable {
  background-color: var(--main-color-red);
}

.badge-active {
  background-color: var(--main-color-green);
}
