.topnav {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: var(--topnav-height);

  &__search {
    position: relative;
    transform: translateY(-110px);
    width: 300px;
    height: 50px;
    background-color: var(--main-bg);
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    overflow: hidden;

    input {
      height: 100%;
      width: 100%;
      padding: 10px 60px 10px 20px;
      font-size: 1rem;
      border-radius: var(--border-radius);
      color: var(--txt-color);
      background-color: var(--main-bg);
    }

    i {
      font-size: 1.5rem;
      position: absolute;
      right: 20px;
    }
  }

  &__right {
    display: flex;
    align-items: center;

    &-item ~ &-item {
      margin-left: 30px;
    }

    &-user {
      display: flex;
      align-items: center;

      &__image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;

        img {
          width: 100%;
        }
      }
      &__name {
        font-size: 1rem;
        font-weight: 600;
      }
    }
  }
}

.notification-item {
  display: flex;
  align-items: center;
  padding: 20px;
  cursor: pointer;

  &:hover {
    background-color: var(--second-bg);
  }

  i {
    margin-right: 20px;
    font-size: 1.5rem;
  }
}

.forgot__label {
  min-width: 120px !important;
}
