.loading-container {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 10px;
   background-color: #0a1929;

   p {
      font-size: 20px;
      color: white;
   }
}
