@import '../../assets/styles/variables';

.post__overlay {
  position: fixed;
  inset: 0;
  background-color: rgba($color: #000000, $alpha: 0.4);
  z-index: 2;
}

.post-detail__container {
  position: relative;
  width: 1200px;
  max-width: 100%;
  padding: 30px 10px;
  overflow: hidden;
  margin: 0 auto;
  z-index: 9999;
  display: grid;
  border-radius: 10px;
  grid-template-columns: 0.58fr 0.42fr;

  .post__left {
    img {
      object-fit: cover;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      width: 100%;
      height: 100%;
    }
  }

  .post__right {
    background-color: #fff;
    width: 490px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    .right__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid rgba($color: #239, $alpha: 0.15);
      padding: 10px 15px;

      &-options {
        font-size: 1.4rem;
        font-weight: 500;
        color: rgb(94, 90, 90);
        cursor: pointer;
        transition: 0.3s all ease;

        &:hover {
          opacity: 0.7;
        }

        &:active {
          transform: translateY(2px);
        }
      }
    }

    .right__body {
      height: 487px;
      padding: 10px 0;
      overflow-y: scroll;
      border-bottom: 1px solid rgba($color: #239, $alpha: 0.15);
      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background: rgb(140, 140, 140);
        border-radius: 4px;
      }

      &-list-messages {
        .message {
          display: flex;
          flex-direction: column;

          .message-view-reply {
            display: flex;
            align-items: center;
            gap: 15px;
            cursor: pointer;
            font-size: 0.7rem;
            color: #8e8e8e;
            text-align: left;
            font-weight: 500;
            transition: 0.3s all linear;
            margin-top: 10px;

            &:hover {
              opacity: 0.7;
            }

            &:active {
              transform: translateY(2px);
            }

            span {
              display: inline-block;
              width: 25px;
              border-top: 1px solid #8e8e8e;
              font-weight: bold;
            }
          }

          &-list-reply {
            margin-left: 47px;
          }
        }
      }
    }

    .right__footer {
      .footer__header {
        padding: 15px;
        border-bottom: 1px solid rgba($color: #239, $alpha: 0.15);
        display: flex;
        flex-direction: column;
        gap: 13px;

        .cardMenu {
          margin: 0;
          .interactions {
            padding-left: 0;
            .icon {
              width: 24px;
              height: 22px;
            }
          }
        }
        .footer__title {
          text-align: left;
          font-size: 0.8rem;
          color: #262626;
          font-weight: 400;
          span {
            font-weight: 500;
          }

          &-time {
            margin-top: 4px;
            font-size: 0.68rem;
            color: #8e8e8e;
          }
        }
      }
      .footer__input {
        padding: 15px;
        display: flex;
        align-items: center;
        input {
          font-size: 0.97rem;
          width: 100%;
          outline: none;
          border: none;
          &::placeholder {
            color: #8e8e8e;
            font-size: 0.9rem;
            user-select: none;
          }
        }

        &-post {
          font-size: 0.82rem;
          color: $primary-btn-color;
          transition: 0.3s ease all;
          font-weight: 500;
          user-select: none;
          &:hover {
            cursor: pointer;
            opacity: 0.7;
          }

          &:active {
            transform: translateY(2px);
          }
        }
      }
    }
  }
}

.post__body {
  display: grid;
  grid-template-columns: 520px 340px;
  height: 524px;
  padding-left: 2px;

  &-img {
    height: 700px;
    width: 700px;
    position: relative;
    border-top-right-radius: 0px;

    &:hover .slick-arrow {
      opacity: 1;
    }

    .slick-arrow {
      border: none;
    }

    .slick-prev svg,
    .slick-next svg {
      z-index: 1;
    }

    img {
      display: block;
      width: 100%;
      height: 600px;
    }
  }

  &-content {
    height: 100%;
    padding: 10px;
    border-left: 1px solid #ccc;

    &-caption {
      font-family: $font;
      width: 100%;
      border: none;
      outline: none;
      overflow: auto;
      resize: none;
      font-size: 1rem;
      height: 300px;
      color: #252525;
      padding: 0 4px;
    }
  }

  &-remind {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    user-select: none;

    &-select {
      padding: 6px 15px;
      background-color: #0095f6;
      color: #fff;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 0.9rem;
      margin-top: 20px;
      cursor: pointer;
      transition: 0.3s all linear;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        transform: translateY(3px);
      }
    }
  }
}
