@import '../../../assets/styles/variables';

.suggestions {
  margin-top: 1.25em;

  .titleContainer {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    font-weight: 500;
    color: $font-color-secondary;
    margin-bottom: 1.25em;

    .title {
      min-width: 200px;
      text-align: start;
      font-size: 14px;
      font-weight: 500;
    }

    a {
      width: 100%;
      text-align: right;
      color: black;
    }
  }

  // .title_notify {
  //    color: $font-color-secondary;
  //    text-align: start;
  //    font-size: 14px;
  //    font-weight: 500;
  // }
}
