@import '../../assets/styles/variables';

.modal {
  position: fixed;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 400px;
  border-radius: 10px;
  display: none;

  &--open {
    display: block;
  }

  &__title {
    padding: 28px 0px;
    border-bottom: 1px solid rgba($color: #333, $alpha: 0.2);
    font-weight: 500;
    font-size: 1.06rem;
    user-select: none;
  }

  &__upload {
    cursor: pointer;
    display: block;
    color: $primary-text-color;
    font-weight: 700;
    font-size: 0.88rem;
    padding: 15px 0px;
    border-bottom: 1px solid rgba($color: #333, $alpha: 0.2);
    transition: all 0.2s linear;
    user-select: none;

    &:hover {
      opacity: 0.7;
      background-color: rgba($color: #ccc, $alpha: 0.4);
    }
  }

  &__cancel {
    cursor: pointer;
    font-weight: 400;
    font-size: 0.88rem;
    padding: 15px 0px;
    transition: all 0.2s linear;
    user-select: none;

    &:hover {
      opacity: 0.7;
      background-color: rgba($color: #ccc, $alpha: 0.4);
      font-weight: 700;
    }
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(#000, 0.4);
  z-index: 3;
  display: none;

  &--open {
    display: block;
  }
}

.profile-container {
  width: 975px;
  margin: 0 auto;
  padding: 60px 20px 30px;

  .profile__header {
    display: flex;
    padding-top: 30px;

    .header__left {
      max-width: 150px;
      margin-left: 70px;
      margin-right: 100px;
      user-select: none;
      flex-grow: 1;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      border-radius: 100rem;
      img {
        display: block;
        width: 100%;
        border-radius: 100rem;
        cursor: pointer;
      }
    }

    .header__right {
      flex-grow: 2;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;

      .right__header {
        display: flex;
        align-items: center;
        gap: 30px;

        &-username {
          font-size: 1.65rem;
          color: #262626;
          font-weight: 200;
        }

        &-btn-edit {
          font-size: 0.8rem;
          background-color: transparent;
          font-family: $font;
          padding: 6px 8px;
          outline: none;
          color: #212121;
          border: 1px solid #ccc;
          font-weight: 500;
          border-radius: 4px;
          cursor: pointer;
          transition: 0.2s all linear;
          user-select: none;

          &:hover {
            opacity: 0.7;
            color: #000;
            border: 1px solid #000;
          }

          &:active {
            transform: translateY(3px);
          }
        }
      }

      .right__body {
        display: flex;
        font-size: 0.92rem;
        gap: 40px;
        color: #2d2c2d;

        &-posts {
          span {
            font-weight: 600;
          }
        }

        &-friends {
          cursor: pointer;
          transition: 0.3s ease-in-out all;
          user-select: none;
          span {
            display: inline;
            font-weight: 600;
          }

          &:hover {
            opacity: 0.8;
          }

          &:active {
            transform: translateY(1px);
          }
        }
      }

      &-name {
        font-weight: 500;
        font-size: 0.95rem;
        color: #2d2c2d;
      }
    }
  }

  .profile__body {
    &--open-post {
      max-height: 100px;
      overflow: hidden;
    }

    .list-posts {
      padding-top: 30px;
      margin-top: 50px;
      border-top: 1px solid #ccc;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px 20px;

      .post {
        width: 293px;
        height: 293px;
        position: relative;
        cursor: pointer;
        user-select: none;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 4px 2px #888;
        &:hover {
          .post__overlay {
            opacity: 1;
          }
        }

        &:active {
          .post__overlay {
            opacity: 0.04;
          }
        }

        .post__img {
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .post__overlay {
          opacity: 0;
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.3);
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.18s all ease-in-out;
          gap: 30px;
          color: #ccc;

          .post__react {
            display: flex;
            align-items: center;
          }

          .post__comments {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
  .post__body-img {
    width: 700px !important;
    height: 700px !important;
  }
}

.links {
  justify-content: center;
}
