@import '../../../assets/styles/variables';

.storyBorder {
  padding: 2px;
  background: linear-gradient(
    200deg,
    $gradient-one 25%,
    $gradient-two 50%,
    $gradient-three 75%,
    $gradient-four 100%
  );
  border-radius: 50%;
}

.profileIcon {
  border-radius: 50%;
  border: 2px solid $background-white;
  display: block;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  &:hover {
    cursor: pointer;
  }

  &.small {
    width: 29px;
    height: 29px;
  }

  &.medium {
    width: 35px;
    height: 35px;
  }

  &.big {
    width: 55px;
    height: 55px;
  }
}
